# Database (Turso Free LibSQL - if empty, defaults to local SQLite file:local.db)
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# Media Storage (Vercel Blob Hobby)
BLOB_READ_WRITE_TOKEN=

# Authentication Session Secret
SESSION_SECRET=

# Server Port
PORT=3000
